:root {
    --dark-mode-black: #272727;
    --dark-mode-red: #EC6F6F;
    --dark-mode-blue: #8bacec;
    --dark-mode-border-color: #707070;
    --dark-mode-blue-border-color: #69798f;
    --dark-mode-text: #e1e1e1;
}

body.dark {
    background-color: var(--dark-mode-black);
    color: var(--dark-mode-text);

    a {
        color: var(--dark-mode-blue);
    }

    input[type="text"],
    select {
        background-color: var(--dark-bg);
        border: 1px solid var(--dark-mode-border-color);
        color: var(--dark-mode-text);
    }

    dialog,
    dialog .button {
        background-color: var(--dark-mode-black);
        color: var(--dark-mode-text);
    }

    .button {
        background-color: var(--dark-mode-blue);
        color: var(--dark-mode-black);
    }

    code,
    .admonition {
        background-color: var(--s-blue);
        border: 1px solid var(--dark-mode-blue-border-color);
    }

    header {
        border-bottom: 1px solid ;
    }

        @media screen and (max-width: 480px) {
            header {
                border-bottom: 0;
            }
        }

    header,
    #header-search,
    #theme {
        border-bottom-color: var(--dark-mode-border-color);
    }

    #main-nav-toggle {
        color: var(--dark-mode-text);
    }

    #main-nav-content {
        border-color: var(--dark-mode-border-color);
    }

    #main-nav ul button.button {
        background-color: transparent;
        color: var(--dark-mode-blue);
    }
}
