a {
    color: #d60a0a;
}

a:hover,
a:active {
    color: #A91919;
}

a:visited {
    color: #ba1c1c;
}

.rst-content code {
color:revert!important;
}

.wy-side-nav-search {
    background-color: #404E61;
}

.wy-side-nav-search input[type=text] {
    border-color: #404E61;
}

.wy-menu-vertical p.caption {
    color: white;
}

.wy-side-nav-search>a, 
.wy-side-nav-search .wy-dropdown>a,
.wy-menu-vertical a:hover {
    color: #fff !important;
}

.wy-menu-vertical a:active {
    background-color: #A91919;
}

.wy-menu-vertical ul.current>li.current>ul.current> li a:hover, .wy-menu-vertical ul.current>li.current>a.current:hover {
	color:#404040 !important;
}

.wy-menu-vertical a:visited {
    color: #b3b3b3;
}

.wy-nav-content {
	max-width:1400px;
}

.wy-nav-content img {
	border:1px solid #000000;
	margin:0 auto;
	display:block;
}

.wy-nav-content div[role="main"] a {
  border-bottom: 1px dotted;
}

.wy-nav-content div[role="main"] a:hover,
.wy-nav-content div[role="main"] a:active {
  border-bottom: 1px solid;
}

/* Workaround for mkdocs RTD theme bug: apply theme styles */
.rst-content table {
    width: 100%;
    margin-bottom: 24px;
}

.rst-content thead {
    text-align: left;
}

.rst-content td, .rst-content th {
    font-size: 90%;
    padding: 8px 16px;
}

.rst-content tr:nth-child(2n-1) td {
    background-color: #f4f6f6;
}

.rst-content td {
    vertical-align: middle;
}

.rst-content code, .rst-content tt, code {
	font-size:revert;
	padding:1px 2px;
}

footer {
	color:#111;
}

.rst-content .note .admonition-title {
	background-color:#1C5982;
}

.rst-content .note.admonition a {
	color:#C3392C;
}
