:root {
    --s-blue: #404E61;
    --s-light-blue: #dce5f2;
    --s-light-blue-border: #bdcde3;
    --s-red: #A91919;
    --border-color: #dfdfdf;
    --table-row-background: #ededed;
}

body.light {
    a {
        color: var(--s-red);
    }

    select {
        border: 1px solid var(--border-color);
    }

    .button {
        color: #fff;
        background-color: var(--s-red);
    }

    pre,
    code,
    .admonition {
        background-color: var(--s-light-blue);
        border: 1px solid var(--s-light-blue-border);
    }

    thead {
        background-color: var(--s-light-blue-border);
    }

    tr:nth-child(2n) {
        background-color: var(--table-row-background);
    }

    header {
        background-color: var(--s-blue);
        color: #eee;
    }

    header .button {
        background: var(--s-red);
        color: #fff;
    }

    header a {
        color: #fff;
    }

    @media screen and (max-width: 720px) {
        #header-search,
        #theme {
            background-color: #fff;
            border-bottom-color: var(--border-color);
            color: #000;
        }
    }

    #main-nav-toggle {
        color: #fff;
    }

    #main-nav-content {
        border-color: var(--border-color);
    }

    #main-nav ul button.button {
        background-color: transparent;
        color: var(--s-red);
    }

    #skip-link:focus {
        background-color: var(--s-blue);
    }
}
